@media only screen and (orientation: portrait) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1360px) {
  html {
    font-size: 16px;
  }
  .how_second_screen {
    .h_s_s_l {
      max-width: inherit;
      margin-right: 40px;
    }

    .h_s_s_r {
      max-width: 400px;
      height: 430px;
    }
  }
  .b_f_box {
    .elem {
      margin-right: 0 !important;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .b_popup {
    .b_popup_box {
      .b_p_cls {
        right: 20px;
      }
    }
  }
  .how_it_works {
    .h_i_w__wrap {
      .h_i_w_w_l {
        margin-right: 30px;
      }
    }
  }


  .get_first {
    .g_f_bottom {
      .container {
        flex-wrap: wrap;

        .elem {
          flex: 1 1 40%;
          margin-bottom: 60px;

          img {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .header {
    .header_wrap {
      .header_right {
        flex-direction: row-reverse;

        .burger_menu {
          display: flex;
        }

        .header_nav {
          margin-left: 0;
          margin-right: 0;
          position: fixed;
          top: -100%;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: calc(100% - 108px);
          z-index: 59;
          background: rgba(0,0,0,.7);
          transition: top $time, margin-top $time;

          .cls_nav {
            opacity: 1;
            visibility: visible;
          }

          &.active {
            margin-top: 108px;
            top: 0;
            left: 0;
          }

          a {
            margin: 0 0 70px 0;
            color: #fff;
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 968px) {
  .footer .footer_nav {
    order: 3;
  }
  .footer .soc_icon {
    order: 2;
    margin-bottom: 40px;
  }
  .kind {
    .b_f_send {
      .send {
        flex-direction: column;

        input {
          margin-bottom: 20px;
          margin-right: 0;
        }
      }
    }
  }
  .how_second_screen {
    .container {
      flex-direction: column;
    }

    .h_s_s_l {
      margin-right: 0;
    }
  }
  .footer {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .footer_logo {
      margin-bottom: 30px;
    }

    .footer_nav {
      margin-bottom: 30px;

      .block {
        text-align: center;
      }
    }

    .soc_icon {
      align-items: center;
    }
  }
  .how_work {
    .container {
      .h_w_wrap {
        flex-direction: column;
        padding-bottom: 0;
      }

      .elem {
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        margin-bottom: 20px;

        &:before {
          display: none;
        }

        .num {
          margin-bottom: 0;
          margin-right: 30px;
          margin-top: 0;
        }

        .h_w_icon {
          margin-bottom: 0;
          margin-right: 40px;
        }
      }
    }
  }
  .jay_form {
    input {
      margin-right: 0;
    }
  }
  .jay {
    .jay_wrap {
      flex-direction: column;
      align-items: center;

      .j_w_right {
        width: 96%;
      }

      .j_w_left {
        align-items: center;
        text-align: center;

        p {
          padding: 0 10px;
          text-align: left;
        }
      }
    }
  }
  .get_first {
    .g_f_bottom {
      .container {
        flex-wrap: wrap;
        align-items: center;

        .elem {
          flex: 1 1 30%;
          max-width: inherit;
          margin-bottom: 40px;

          img {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .kind {
    .b_f_send {
      .send {
        width: 100%;
        max-width: 500px;
        margin: 20px auto;
      }

      button {
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
      }

      .b_f_s_info {
        .btn {
          width: 100%;
          max-width: 300px;
          margin: 20px auto;
        }
      }
    }
  }
  .b_f_box {
    width: 100%;
    max-width: 650px;
    margin: auto;
  }
  .how_second_screen {
    .h_s_s_l {
      .elem {
        width: 100%;
        max-width: 500px;
        margin: 0 auto 40px;
      }
    }

    .container {
      flex-direction: column-reverse;
    }

    .h_s_s_r {
      margin-bottom: 70px;
    }
  }
  .how_it_works {
    overflow: hidden;

    .h_i_w__wrap {
      .h_i_w_w_r {
        .btn {
          box-shadow: 0 21px 40px 2px rgba(0, 0, 0, 0.25);
        }
      }
    }

    .how_it_works_bg {
      width: 300%;
      object-fit: inherit;
    }
  }
  .error {
    .container {
      .error_img {
        max-height: 400px;
      }
    }
  }
  .footer .container {
    padding-right: 30px;
    padding-left: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .footer {
    .footer_logo {
      flex: 1 1 70%;
      margin-right: 20px;
      max-width: 200px;
    }
  }
  .footer .soc_icon {
    opacity: 2;
    margin-bottom: 40px;
    align-items: flex-end;
    flex: 1 1 30%;

    p {
      text-align: right;
    }
  }
  .footer .footer_nav {
    order: 3;
    flex: 1 1 100%;
  }
  .wanna_boost {
    .w_b_bg {
      display: none;
    }
  }
  .how_it_works {
    .h_i_w__wrap {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;

      .h_i_w_w_l {
        max-width: 420px;
        margin-right: 0;
        min-height: 500px;
      }

      .h_i_w_w_r {
        margin-top: 0;
        text-align: center;
        align-items: center;

        .title {
          text-align: center;
          margin-bottom: 20px;
          line-height: inherit;
        }
      }
    }
  }
  .how_work {
    overflow: hidden;

    .h_w_bg {
      width: 100%;
      object-fit: inherit;
    }

    .container {
      .title {
        margin-bottom: 110px;
      }

      .h_w_wrap {
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 530px;
        margin: 0 auto;
      }

      .elem {
        flex-direction: column;
        margin-top: -56px;
        margin-bottom: 60px;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: #eaeaea;
        }

        .num {
          margin-bottom: 30px;
          margin-right: 0;
          margin-left: 0;
        }

        .h_w_icon {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
  .jay_form {
    flex-direction: column;
    align-items: center;

    input {
      margin-bottom: 30px;
    }
  }
  .wanna_boost {
    .w_b_bottom {
      .img_block {
        max-width: 360px;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .footer {
    overflow: hidden;
  }
  section {
    overflow: hidden;
  }
  .header {
    .header_wrap {
      .header_right {
        .header_nav {
          &.active {
            margin-top: 168px;
          }
        }
        .burger_menu {
          display: none;
        }
      }
      .header_left {
        display: flex;
        align-items: center;
        .burger_menu_mobile {
          display: flex;
        }
      }
    }
  }
  .error {
    .container {
      .error_img {
        max-height: 200px;
      }
    }
  }
  .btn {
    line-height: inherit !important;
  }
  /*.footer {
    .soc_icon {
      p {
        text-align: center;
      }
    }
  }*/
  .popup {
    padding: 0 10px;
    /*z-index: 100 !important;*/
    margin-top: 100px;

    .popup_box {
      p {
        text-align: center !important;
      }

      .title {
        margin-bottom: 10px;
        font-size: 16px;
      }

      input, button {
        height: 50px !important;
        margin-bottom: 10px !important;
      }

      .form_popup {
        a {
          margin-bottom: 30px;
        }
      }
    }
  }
  .send_block {
    .send {
      flex-direction: column;
      align-items: center;

      input {
        margin-bottom: 20px;
        margin-right: 0;
      }

      button {
        width: 100%;
        max-width: 308px;
      }
    }
  }
  .title, .title_block {
    font-size: 22px !important;
  }
  /*.footer {
    .footer_nav {
      flex-direction: column;

      .block {
        margin-bottom: 30px;
      }
    }
  }*/
  .guarantee {
    .container {
      .g_box_bottom {
        .g_b_elem {
          flex-direction: column;
          align-items: center;
          text-align: center;

          .g_b_info {
            align-items: center;

            .title {
              text-align: center;
            }
          }

          .g_b_icon {
            margin-right: 0;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  .header {
    .header_wrap {
      flex-direction: column;
    }
  }

}

@media only screen and (max-width: 600px) {
  .footer .container {
    flex-direction: column;
  }
  .footer .footer_logo {
    margin-right: 0;
  }
  .footer .soc_icon {
    align-items: center;

    p {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 420px) {
  .footer .footer_nav .block {
    margin: 20px 20px;
  }
  .kind {
    .b_f_send {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .btn {
    min-width: inherit !important;
  }
  .how_second_screen {
    .h_s_s_r {
      max-width: 280px;
      height: 300px;
    }
  }
  .growth {
    .container {
      .g_info {
        p {
          text-align: center;
        }
      }
    }
  }
  .how_second_screen {
    .h_s_s_l {
      .elem {
        flex-direction: column;
        align-items: center;

        .icon {
          margin-right: 0;
          margin-bottom: 30px;
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            text-align: center;
          }

          .title {
            text-align: center;
          }
        }
      }
    }
  }
  .wanna_boost {
    .w_b_bottom {
      .buttons {
        flex-direction: column;
        align-items: center;

        a {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }

  .header {
    .header_wrap {
      flex-direction: column;

      .header_right {
        .burger_menu {
          margin-right: 0;
        }
      }
    }
  }
}