<footer class="footer">
    <div class="container">
        <a href="#"><img class="footer_logo" src="../img/logo.png" alt=""></a>
        <div class="footer_nav">
            <div class="block">
                <p>Producto</p>
                <a href="#">Sobre nosotros</a>
                <a href="#">Cómo funciona</a>
                <a href="#">Blog</a>
                <a href="#">Registrarse o Acceder</a>
                <a href="#">Para los blogueros</a>
                <a href="#">Para los socios</a>
            </div>
            <div class="block">
                <p>Soporte</p>
                <a href="#">Términos de uso</a>
                <a href="#">Política de privacidad</a>
                <a href="#">Centro de ayuda</a>
                <a href="#">Contacto</a>
            </div>
        </div>
        <div class="soc_icon">
            <div class="soc_img">
                <a href="https://www.instagram.com/megalikes.official/" target="_blank"><img src="../img/inst.png" alt=""></a>
                <a href="https://twitter.com/iadli" target="_blank"><img src="../img/twitter.png" alt=""></a>
            </div>
            <p>¡Mantente en contacto con nosotros a través de Instagram o Twitter!</p>
        </div>
    </div>
</footer>

<div class="popups">

    <div class="popup p_enter">
        <div class="popup_box">
            <h4 class="title">Por favor introduce tu alias de Instagram y el código de referencia</h4>
            <form class="form_popup">
                <input type="text" placeholder="Apodo de Instagram" required>
                <input type="text" placeholder="Código de referencia" required>
                <div class="title_f">¿Quién eres tú?</div>
                <div class="check_wrap">
                    <p class="btn_check">BLOGUERO</p>
                    <p class="btn_check">USUARIO</p>
                </div>
                <button type="submit" class="btn btn_red">Hecho</button>
                <a href="#" class="close">Cerrar</a>
            </form>
        </div>
    </div>


    <div class="popup p_sign_up">
        <div class="popup_box">
            <h4 class="title">Registration</h4>
            <form class="form_popup">
                <input type="email" placeholder="Enter your email" required>
                <input type="password" placeholder="Create password" required>
                <input type="password" placeholder="Confirm password" required>
                <a href="#" class="log_in">Have account?</a>
                <button type="submit" class="btn btn_red">Done</button>
                <a href="#" class="close">Close</a>
            </form>
        </div>
    </div>

    <div class="popup p_log_in">
        <div class="popup_box">
            <h4 class="title">Login</h4>
            <form class="form_popup">
                <input type="email" placeholder="Enter your email" required>
                <input type="password" placeholder="Enter password" required>
                <a href="#" class="recovery">Forgot password?</a>
                <button type="submit" class="btn btn_red">Done</button>
                <a href="#" class="close">Close</a>
            </form>
        </div>
    </div>

    <div class="popup p_recovery">
        <div class="popup_box">
            <h4 class="title">Recovery Password</h4>
            <p>A new password will be send on your email</p>
            <form class="form_popup">
                <input type="email" placeholder="Enter your email" required>
                <button type="submit" class="btn btn_red">Done</button>
                <a href="#" class="close">Close</a>
            </form>
        </div>
    </div>

    <div class="b_popup b_first">
        <div class="b_popup_box">
            <div class="b_p_cls cls_f"><span></span></div>
            <p>Vaya, es un error 404 y ya has conseguido 1 millón de seguidores</p>
            <p class="btn btn_red sign_up">Wow, quiero conseguirlo</p>
            <img src="../img/b_popup_bg.png" alt="" class="b_popup_bg">
        </div>
    </div>

    <div class="b_popup b_second">
        <div class="b_popup_box">
            <div class="b_p_cls cls_s"><span></span></div>
            <p>Qué lástima que te vayas tan rápido, mantente en contacto a través de Instagram</p>
            <p class="btn btn_red sign_up">Síguenos</p>
            <img src="../img/b_popup_bg.png" alt="" class="b_popup_bg">
        </div>
    </div>


    <div class="b_popup b_third">
        <div class="b_popup_box">
            <div class="b_p_cls cls_t"><span></span></div>
            <p>Nos hemos dado cuenta de que te vas pero aún no has recibido 69$ en tu página personal</p>
            <p class="btn btn_red sign_up">Registrarse</p>
            <img src="../img/b_popup_bg.png" alt="" class="b_popup_bg">
        </div>
    </div>
</div>
<script src="../dist/js/main.js"></script>