<header class="header">
    <div class="container">
        <div class="header_wrap">
            <div class="header_left">
                <a href="index.html"><img class="logo" src="../img/logo.png" alt=""></a>
                <div class="burger_menu_mobile">
                    <span></span>
                </div>
            </div>

            <div class="header_right">
                <div class="burger_menu">
                    <span></span>
                </div>
                <div class="header_nav">
                    <!--<p class="cls_nav"></p>-->
                    <a href="index.html" class="active">About us</a>
                    <a href="how.html">how it works</a>
                    <a href="blog.html">Blog</a>
                </div>
                <div class="header_log">
                    <p class="btn btn_white log_in">Login</p>
                    <p class="btn btn_red sign_up">Sign up</p>
                </div>
            </div>
        </div>
    </div>
</header>